<!doctype html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<th:block th:include="/fragments/layout :: cabecalho "></th:block>
 <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
 <title>Alterar Usuário</title>
</head>
<body>
<div class="d-flex" id="wrapper">
		<th:block th:include="/fragments/layout :: menuLateral "></th:block>
<div id="page-content-wrapper">
			<th:block th:include="/fragments/layout :: topo "></th:block>

			<div class="container-fluid pt-3">
	<div class="card w-100">
		<div class="card-header text-center">
		<h4 class="text-center">Alterar Usuário</h4>
		</div>
		<div class="card-body">
			<div class="alert  alert-success  alert-dismissible" role="alert" 
		     th:if="${not #strings.isEmpty(mensagem)}" >
			<span th:text="${mensagem}"></span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>

<form th:action="@{/usuarios/editar/{idusuario}(idusuario=${usuario.id})}" th:object="${usuario}" method="post">

			<div class="row">
				   		<div class="form-group col-md-3">
				   		    <label for="codEmp">Login:</label>
				        	<input type="text"  id="login" class="form-control" th:field="*{login}" disabled/>
				    	</div>
				    	<div class="form-group col-md-3">
				    	   	<label for="codEmpFilial">Senha:</label>
				        	<input type="password"   class="form-control" disabled/>
				   		</div>
				   		<div class="form-group col-md-2">
										<label for="nome" >Situação</label>
				                        <input type="checkbox" class="custom-control-input" th:field="*{ativo}" id="ativo" data-toggle="toggle" data-on="Ativa" data-off="Desativada" data-onstyle="success" data-offstyle="danger"/>
				                    </div>
				   		
			</div>
			<div class="row">
				   		<div class="form-group col-md-3">
				   		   	<label for="nome">Nome:</label>
				        	<input type="text" id="nome" class="form-control" th:field="*{nome}" />
				    	</div>
				    	<div class="form-group col-md-5">
				   		   	<label for="sobrenome">Sobrenome:</label>
				        	<input type="text" id="sobrenome" class="form-control" th:field="*{sobrenome}" />
				    	</div>
			</div>
			<div class="row">
				    	<div class="form-group col-md-4">
				   		   	<label for="email">E-mail:</label>
				        	<input type="email" id="email" class="form-control" th:field="*{email}" />
				    	</div>
				    	
			</div>
	<div>
     <label>Regras de acesso: </label>
      <div class="form-check form-check-inline" th:each="role, itemStat: ${allRoles}">
       <input class="form-check-input" type="checkbox" name="roles" th:value="${role.id} " th:checked="${#arrays.contains(roleChecked,role)}" /> 
        <label class="form-check-label" for="roles" th:text="${role.descricao}"></label>
        </div>
        
							</div>
<div class="row">
<button class="btn btn-primary ml-3" type="submit">Salvar</button>
<a th:href="@{/}" class="btn btn-danger ml-3">Cancelar</a>
</div>
</form>
</div>
</div>
</div>
</div>
</div>

<footer>
	<th:block th:include="/fragments/layout :: rodape "></th:block>
	<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
	</footer>
</body>
</html>