<!doctype html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<th:block th:include="/fragments/layout :: cabecalho "></th:block>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    
    <title>Cadastrar Grupo</title>
	
</head>
<body>
<div class="d-flex" id="wrapper">
		<th:block th:include="/fragments/layout :: menuLateral "></th:block>
<div id="page-content-wrapper">
			<th:block th:include="/fragments/layout :: topo "></th:block>

			<div class="container-fluid pt-3">
	<div class="card w-100">
		<div class="card-header text-center">
		<h4 class="text-center">Cadastro de Grupo</h4>
		</div>
		<div class="card-body">
		<div class="alert  alert-success  alert-dismissible" role="alert" 
		     th:if="${not #strings.isEmpty(mensagem)}" >
			<span th:text="${mensagem}"></span>
			<button type="button" class="close" data-dismiss="alert" >
			<span aria-hidden="true">&times;</span></button>
		</div>
		  <form method="post" th:object="${grupo}">
			<div class="row">
        	<div class="form-group col-md-4">
	          	<label for="cnpj" >Nome:</label>
	        	<input type="text" class="form-control" id="nome" th:field="*{nome}"/>
        	</div>
        	<div class="form-group col-md-6">
	        	<label for="nome" >Descrição:</label>
	        	<input type="text" class="form-control" id="nome" th:field="*{descricao}"/>
	        </div>
				</div>
	        <div class="form-group">
				<button type="submit" class="btn btn-primary mb-2" >Cadastrar</button>
				<a th:href="@{/grupos/consulta}" class="btn btn-danger mb-2">Cancelar</a>
			</div>
	    </form>
	    </div>
	    
	    <div class="card-header text-center">
			<h4 class="text-center">Cadastro de empresa</h4>
		</div>
			    
	    </div>
 </div>
 </div>
 </div>
<footer> 
<th:block th:include="/fragments/layout :: rodape "></th:block>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script th:src="@{/vendor/js/bootstrap.bundle.min.js}"></script>
</footer>
</body>
</html>