<!doctype html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<th:block th:include="/fragments/layout :: cabecalho "></th:block>
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/dragtable.mod.min.css" integrity="sha512-nR2yAQRLPLBoJHLWmvXFWp+bg7tQ8Vl6AwxE5HgCMLQ3eRUQk0l4d/CmW4F4YOzUiNRgnlLLDGrutDOzy1ImIA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/theme.bootstrap_4.min.css" integrity="sha512-2C6AmJKgt4B+bQc08/TwUeFKkq8CsBNlTaNcNgUmsDJSU1Fg+R6azDbho+ZzuxEkJnCjLZQMozSq3y97ZmgwjA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Solicitação</title>
  
</head>

<body>
<div class="d-flex" id="wrapper">
		
		<th:block th:include="/fragments/layout :: menuLateral "></th:block>

		<div id="page-content-wrapper">
			<th:block th:include="/fragments/layout :: topo "></th:block>

			<div class="container-fluid pt-3">
			<div class="card w-100">
				<div class="card-header text-center">
					<h4 class="text-center">Cadastro de solicitação</h4>
				</div>
				<div class="card-body">
				
					<div class="alert  alert-danger alert-dismissible" role="alert" 
				    	 th:if="${not #strings.isEmpty(mensagem)}" ><span><i class="fa  fa-exclamation-circle" ></i> </span>
						<span th:text="${mensagem}"></span>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						    <span aria-hidden="true">&times;</span>
						  </button>
					</div>
					<div th:class="${'alert alert-danger alert-dismissible'}" role="alert" 
				     th:if="${not #arrays.isEmpty(empresasErros)}" >
				     <span><i class="fa  fa-exclamation-circle" ></i>
				     <b>Já existe(m) solicitações original para o mesmo período e declaração das seguinte(s) empresa(s)</b>
				     </span><br>
				     
				     <div th:each="empErro : ${empresasErros}">
					<span th:text="${empErro.codEmp} +'-'+ ${empErro.CodEmpFilial} +' '+ ${#strings.abbreviate(empErro.nome,70)}"></span>
					</div>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
					  </button>
					</div>
					<div th:class="${'alert alert-success alert-dismissible'}" role="alert" 
				     th:if="${not #arrays.isEmpty(empresasGravadas)}" >
				     <span><i class="fa  fa-exclamation-circle" ></i><b> Solicitação da(s) empresa(s) incluida(s) com sucesso: </b></span>
				     <div th:each="empGravada : ${empresasGravadas}">
					<span th:text="${empGravada.codEmp} +'-' + ${empGravada.CodEmpFilial} +' ' + ${#strings.abbreviate(empGravada.nome,70)}"></span>
					</div>
					</div>
				  	<form method="post" th:object="${grupoEmpresa}">
				
				   		<div class="row">
				   			<div class="form-group col-md-4">
							<label for="declaracao">Declaração:</label>
							<select id="declaracao" class="form-control custom-select" th:name="declaracao" required>
									<option value="">Selecione a declaração</option>
									<option th:each="declaracao : ${declaracoes}" th:value="${declaracao.idDec}" 
										th:text="${declaracao.nome}">DCTF</option>
								</select>
							</div>
				    		<div class="form-group col-md-3">
								<label for="codigo" >Competência</label>
					        	<input type="month" id="competencia" class="form-control" 
					     		  min="2015-01"  th:name="competencia" required>
							</div>
							<div class="form-group col-md-3">
								<label for="tipoDec" class="mr-sm-2">Tipo: </label> 
								<div class="form-inline" >
									<th:block th:each="tipoDec : ${tiposdec}">
									<div class="custom-control custom-radio custom-control-inline">
										<input th:id="|id_${tipoDec}|" type="radio" class="custom-control-input"
									       th:value="${tipoDec}" th:name="tipoDec" required> 
										<label th:for="|id_${tipoDec}|" class="custom-control-label" 
									       th:text="${tipoDec.descricao}">Original</label>
									</div>
									</th:block>
								</div>
							</div>
				    	
						</div>
					<!--  	<div class="form-row">
						<select class="js-example-basic-multiple" th:name="idEmp2" id="selectMultiple"  multiple="multiple" required>
				    		<option th:each="gpEmp : ${grupoEmpresas}"
					            th:field="*{empresa}"
					            th:value="${gpEmp.empresa.id}"
					            th:text="'Cód: '+ ${gpEmp.empresa.codEmp} + ' F: '+ ${gpEmp.empresa.codEmpFilial} +' Razão: '+ ${gpEmp.empresa.nome}">Part name</option>
						</select>
						</div>-->
						<div>
						<table class="table table-bordered table-sm tablesorter" id="empresasAdicionadas">
			            <thead>
			                <tr>
			                    <th><input type ="checkbox"  id="selectAll"> </th>
			                    <th>Código</th>
			                    <th>Filial</th>
			                    <th>Empresa</th>
			                </tr>
			            </thead>
			            <tbody>
			                <tr th:each="gpEmp : ${grupoEmpresas}">
								<td><input type ="checkbox" th:name="idEmp" 
									th:value="${gpEmp.empresa.id}" th:id="${gpEmp.empresa.id}">			                	 
						     	</td>
						     	<td th:text="${gpEmp.empresa.codEmp}"></td>
						     	<td th:text="${gpEmp.empresa.codEmpFilial}"></td>
						     	<td th:text="${#strings.abbreviate(gpEmp.empresa.nome,70)} "></td>
			                </tr>
			            </tbody>
			            
			            
			        </table>
						</div>
				    	<div>
							<button type="submit" class="btn btn-primary">Salvar</button>
							<a th:href="@{/}" ><span class="btn btn-danger">Cancelar</span></a>
						</div>
				    </form>
				</div>
			</div>
</div>
</div>
</div>
<footer>
<th:block th:include="/fragments/layout :: rodape "></th:block>
 <script th:src="@{/vendor/js/bootstrap.bundle.min.js}"></script>
 <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js" integrity="sha512-qzgd5cYSZcosqpzpn7zF2ZId8f/8CHmFKZ8j7mU4OUXTNRd5g+ZHBPsgKEwoqxCtdQvExE5LprwwPAgoicguNg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <script th:src="@{/js/ordenartabelaEmLote.js}"></script>
 <script>
	$(document).ready(function() {
	    $('#selectMultiple').select2();
	    
	    $('#selectAll').click(function(e){
	        var table= $(e.target).closest('table');
	        $('td input:checkbox',table).prop('checked',this.checked);
	    });
	})
</script>
</footer>
</body>
</html>